body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.indigo{
    color: indigo;
}
section{
    display: flex;
}
.half-width{
    width: 50%; 
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.fb-link{
    background-image: linear-gradient(aqua, blue);
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.ig-link{
    text-decoration: none;
    background-image: linear-gradient(yellow, orange,red,purple, blue);
    padding: 5px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin-bottom: 1000px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.size{
    font-size: xx-large;
}
.increase{
    font-size: x-large;
}
.about{
    font-weight: 700;
    font-size: xx-large
}
.biggie{
    font-size: larger;
}
.dc-link{
    text-decoration: none;
    background-image: linear-gradient(blue, indigo);
    padding: 5px 70px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.about-theon{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.box-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   box-shadow: 20px 20px 20px gray;
   margin-bottom: 100px;
}
.image-setting{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#blue{
    border-left: 7px solid blue;
    border-radius: 5px;
}
#tomato{
    border-left: 7px solid tomato;
    border-radius: 5px;
}
footer p{
    text-align: center;
}
